@model OilShop.Models.Oil.OilViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @User.Identity.IsAuthenticated</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @*@foreach (var item in ViewBag.Oils)
    {
        <div class=" container">
            <a href="/home/details/@item.Id"><h1 class="display-4">@item.Name</h1></a>
            <a class="btn-primary btn" href="/Home/Update/@item.Id">Update</a>
            <form asp-action="delete">
                <input hidden id="Id" name="Id" value="@item.Id" />
                <button class="btn-primary btn" type="submit">Delete</button>
            </form>
        </div>
    }*@
    <div class="row d-flex justify-content-around p-3">
        @foreach (var p in ViewBag.Oils)
        {
        <div class="card mb-3" style="width: 20rem;">
            <a href="/home/details/@p.Id">
                <img class="card-img-top" src="@p.Image" alt="@p.Name card">
            </a>
            <div class="card-body">
                <a href="/home/details/@p.Id">
                    <h4 class="card-title text-dark">@p.Name @p.Capacity</h4>
                </a>
            </div>
            <a class="btn-primary btn" href="/Home/Update/@p.Id">Update</a>
            <form asp-action="delete">
                <input hidden id="Id" name="Id" value="@p.Id" />
                <button class="btn-primary btn" type="submit">Delete</button>
            </form>
        </div>
        }
    </div>

    <a class="btn-primary btn" href="/home/create">Add</a>
    <a class="btn-primary btn" href="/account/login">Login</a>
    <a class="btn-primary btn" href="/account/register">Register</a>
    @if (User.Identity.IsAuthenticated)
    {
        using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm", @class = "form-inline my-2 my-lg-0" }))
        {
            @Html.AntiForgeryToken()

            <a asp-controller="Profile" asp-action="Index">Привіт @User.Identity.Name</a>

            <a href="#" onclick="document.getElementById('logoutForm').submit();"
               class="nav-link btn btn-link text-dark">
                Вихід
            </a>

        }
    }
</div>
