@model OilShop.Models.Oil.OilViewModelList;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @User.Identity.IsAuthenticated</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>


    @if (Model.List.Count() == 0)
    {
        <div class="flex-column text-center" style="margin-top:100px;margin-bottom:100px">
            <img style="width:100%;max-width:700px" alt="nothing was found" src="~/img/ufo.jpg" />
            <h4 class="col p-2 mt-5">На жаль, ми нічого не знайшли </h4>
        </div>
    }

    else
    {

        <div class="row d-flex justify-content-around p-3">
            @foreach (var p in Model.List)
            {
                <div class="card mb-3" style="width: 20rem;">
                    <a href="/home/details/@p.Id">
                        <img class="card-img-top" src="@p.Image" alt="@p.Name card">
                    </a>
                    <div class="card-body">
                        <a href="/home/details/@p.Id">
                            <h4 class="card-title text-dark">@p.Name @p.Capacity</h4>
                        </a>
                    </div>
                    <a class="btn-primary btn" href="/Home/Update/@p.Id">Update</a>
                    <form asp-action="delete">
                        <input hidden id="Id" name="Id" value="@p.Id" />
                        <button class="btn-primary btn" type="submit">Delete</button>
                    </form>
                </div>
            }
        </div>

        @if (Model.MaxPage != 1)
        {
            var SearchData = ViewBag.SearchData;
            <nav class="">
                <ul class="pagination justify-content-center">
                    @{int Page = Model.Page; }
                    <li class="page-item @(Page == 1 ? "disabled" : "")">
                        <a class="page-link" asp-action="index" asp-controller="home" asp-route-SearchData="@ViewBag.SearchData"
                           asp-route-Page="@(Page - 1)" tabindex="-1">Попередня</a>
                    </li>
                    @for (int i = 1; i < Model.MaxPage + 1; i++)
                    {
                        <li class="page-item @(Page == i ? "active" : "" )">
                            <a class="page-link" asp-action="index" asp-controller="home" asp-route-SearchData="@ViewBag.SearchData"
                               asp-route-Page="@i">@i <span class="sr-only">(current)</span></a>
                        </li>
                    }
                    <li class="page-item @(Page == Model.MaxPage ? "disabled" : "")">
                        <a class="page-link" asp-action="index" asp-controller="home" asp-route-SearchData="@ViewBag.SearchData" asp-route-Page="@(Page + 1)">Наступна</a>
                    </li>
                </ul>
            </nav>
        }
    }

    <a class="btn-primary btn" href="/home/create">Add</a>
    <a class="btn-primary btn" href="/account/login">Login</a>
    <a class="btn-primary btn" href="/account/register">Register</a>
    @if (User.Identity.IsAuthenticated)
    {
        using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm", @class = "form-inline my-2 my-lg-0" }))
        {
            @Html.AntiForgeryToken()

            <a asp-controller="Profile" asp-action="Index">Привіт @User.Identity.Name</a>

            <a href="#" onclick="document.getElementById('logoutForm').submit();"
               class="nav-link btn btn-link text-dark">
                Вихід
            </a>

        }
    }
</div>
